
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tecnosystem's LLS</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="../static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../static/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css" rel="stylesheet">
        
    <!-- Morris Charts CSS -->
    <link href="../static/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="../static/bower_components/bootstrap-tags/css/bootstrap-tags.css" rel="stylesheet">

    <link href="../static/dist/css/editor.css" rel="stylesheet">
    <link href="../static/dist/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="../static/dist/css/bootstrap-tagsinput-typeahead.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="../static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="../static/bower_components/bootstrap-tags/js/bootstrap-tags.js"></script>

    <script src="../static/dist/js/sb-admin-2.js"></script>

    <script src="../static/dist/js/editor.js"></script>
    <script src="../static/dist/js/typeahead.js"></script>
    <script src="../static/dist/js/bootstrap-tagsinput.js"></script>
    <script src="../static/dist/js/handlebars.js"></script>
    <script src="../static/dist/js/hogan-3.0.1.js"></script>
    

    <script src="../static/js/tecnolls.js"></script>

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Tecnosystem's LLS</a>
            </div>

             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if not request.session.user %}
                        <li>
                            <a href="javascript:sign_in();"><i class="fa fa-edit fa-fw"></i> Sign in</a>
                        </li>
                        <li>
                            <a href="javascript:login();"><i class="fa fa-edit fa-fw"></i> Login</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="#"></i>Welcome to, {{request.session.user}}</a>
                        </li>
                        <li>
                            <a href="javascript:logout();"><i class="fa fa-edit fa-fw"></i>Logout</a>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.navbar-header -->
            
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="javascript:info_index();"><i class="fa fa-edit fa-fw"></i> About us</a>
                        </li>
                        <li class="sidebar-search">
                        </li>
                        <li>
                            <a href="javascript:lessons_index();"><i class="fa fa-table fa-fw"></i>Search   Lessons</a>
                        </li>
                        {% if request.session.user %}
                        <li class="sidebar-search">
                        </li>
                        <li>
                            <a href="javascript:lessons_admin();"><i class="fa fa-table fa-fw"></i>Lessons' Admin</a>
                        </li>
                        <li>
                            <a href="javascript:tags_index();"><i class="fa fa-table fa-fw"></i>Domain's Tags</a>
                        </li>

                        <li class="sidebar-search">
                        </li>
                        <li>
                            <a href="javascript:users_index();"><i class="fa fa-table fa-fw"></i>User's Admin</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% include "tecnolls/info_main.html" %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sg">
        <div id="loginForm" class="modal-content">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <input id="username" class="form-control" placeholder="username" name="username" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input id="password" class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <a href="javascript:do_login()" class="btn btn-lg btn-success btn-block">Login</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
