<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i>TecnoLLS's User
            <!--button type="button" onClick="javascript:new_tag();" class="btn btn-primary">New Tag</button-->     
        </div>
        <nav>
          <ul class="pagination">
            <li>
              {% if users_list.has_previous %}
              <a href="javascript:filter_users({{ users_list.previous_page_number }})" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
              {% else %}
                <span aria-hidden="true">&laquo;</span>
              {% endif %}
            </li>
            <li><span class="current">
                    Page {{ users_list.number }} of {{ users_list.paginator.num_pages }}.
                </span></li>
            <li>
              {% if users_list.has_next %}
              <a href="javascript:filter_users({{ users_list.next_page_number }})" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
              {% else %}
                <span aria-hidden="true">&raquo;</span>
              {% endif %}
            </li>
          </ul>
        </nav>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users_list %}
                        <tr>
                            <td style="font-size:12px;">{% if u.is_superuser %}Admin{% else %}Developer{% endif %}</td>
                            <td style="font-size:12px;">{{u.username}}</td>
                            <td style="font-size:12px;">{{u.first_name}}</td>
                            <td style="font-size:12px;">{{u.last_name}}</td>
                            <td style="font-size:12px;">{{u.email}}</td>
                            <td style="font-size:12px;">
                              <input type="checkbox" id="user-active-{{u.username}}"  data-size="mini" {% if u.is_active %}checked {% endif %}>
                              <script type="text/javascript">
                                $("#user-active-{{u.username}}").bootstrapSwitch();
                                $("#user-active-{{u.username}}").on('switchChange.bootstrapSwitch', 
                                  function(event, state) {
                                    activate_user('{{u.username}}', state);
                                  }
                                );
                              </script>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </ul>
        </div>
    </div>
  </div>
</div>