<script>
    var typeaheadSource = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('label'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {
        url: 'tags/list',
        filter: function(list) {
            return $.map(list, function(tag) {
                return { label: tag.label, uri: tag.uri, html: tag.label+"-" + tag.uri}; });
            }
        },
        limit: 15,
        name: 'typeaheadSource',
        ttl: 0,
        'cache': false
    });
    typeaheadSource.initialize();
    console.log(typeaheadSource);
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i>Tecnosystems' Lessons Learned
        <button type="button" onClick="javascript:new_lesson();" class="btn btn-primary">New Lesson</button>     
    </div>
    <nav>
      <ul class="pagination">
        <li>
          {% if lessons_list.has_previous %}
          <a href="javascript:filter_lessons({{ lessons_list.previous_page_number }})" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% else %}
            <span aria-hidden="true">&laquo;</span>
          {% endif %}
        </li>
        <li><span class="current">
                Page {{ lessons_list.number }} of {{ lessons_list.paginator.num_pages }}.
            </span></li>
        <li>
          {% if lessons_list.has_next %}
          <a href="javascript:filter_lessons({{ lessons_list.next_page_number }})" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          {% else %}
            <span aria-hidden="true">&raquo;</span>
          {% endif %}
        </li>
      </ul>
    </nav>
    <div class="panel-body">
        <ul class="timeline">
            {% for l in lessons_list %}
            <li class="{% cycle '' 'timeline-inverted' %}">
                <div class="timeline-badge {% cycle 'warning' 'info' %}"><i class="fa fa-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{l.pub_date}}</small> {{l.author}}
                        </p>
                        <h4 class="timeline-title"><a href="javascript:luestion_detail({{l.luestion_id}}, 0)">Lesson No: {{l.number}} - {{l.title}}</a></h4>
                    </div>
                    <div class="timeline-body">
                        <p>
                        {% autoescape off%}
                            {{l.problem}}
                        {% endautoescape %}
                        </p>
                        <!--div id="lessontags-{{l.number}}"></div>
                        <script>
                            $(function() {
                                $('#lessontags-{{l.number}}').tags({
                                  suggestions: [{"text""data":"123"}],
                                  tagData: ["india", "juliett"],
                                  caseInsensitive: true
                                });
                            });
                        </script-->

                        <input id="lessontags-{{l.number}}" type="text" value="" data-role="tagsinput"/>
                        {% autoescape off%}
                        <script>
                            $('#lessontags-{{l.number}}').tagsinput({
                              typeaheadjs: {
                                name: 'typeaheadSource',
                                displayKey: 'label',
                                valueKey: 'label',
                                source: typeaheadSource.ttAdapter(),
                                
                                /*
                                templates: {
                                    suggestion: Handlebars.compile('<div><strong>{{label}} </strong>-{{uri}}</div>')
                                },
                                engine: Hogan
                                */
                              }
                            });
                        </script>
                        {% endautoescape %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

