<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i>Domain's Tag
        <button type="button" onClick="javascript:new_tag();" class="btn btn-primary">New Tag</button>     
    </div>
    <nav>
      <ul class="pagination">
        <li>
          {% if tags_list.has_previous %}
          <a href="javascript:filter_tags({{ tags_list.previous_page_number }})" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% else %}
            <span aria-hidden="true">&laquo;</span>
          {% endif %}
        </li>
        <li><span class="current">
                Page {{ tags_list.number }} of {{ tags_list.paginator.num_pages }}.
            </span></li>
        <li>
          {% if tags_list.has_next %}
          <a href="javascript:filter_tags({{ tags_list.next_page_number }})" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          {% else %}
            <span aria-hidden="true">&raquo;</span>
          {% endif %}
        </li>
      </ul>
    </nav>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>URI</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tags_list %}
                    <tr>
                        <td style="font-size:12px;">{{t.label}}</td>
                        <td style="font-size:12px;">{{t.uri}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </ul>
    </div>
</div>

